.home-container {
  @include justify-center;
  height: 100vh;
  width: 100%;

  .home-content {
    @include container-width;

    h4 {
      @include welcome-text;
      padding: 20px 0px;
    }

    .cards-container {
      @include justify-center;
      @include flex-wrap;

      .cards {
        @include cards;
        box-shadow: $shadow;
        margin: 20px;
        border-radius: 6px;

        .single-card {
          padding: 20px 20px;

          .card-header {
            @include justify-between;
            padding-bottom: 10px;

            .company {
              @include company-name;
            }

            .eye {
              cursor: pointer;
              width: 22px;
            }
          }

          .image {
            @include justify-center;
            margin-bottom: 10px;

            .company-logo {
              @include logo-image;
            }
          }

          .progress-text {
            color: $blueColor;
            @include progress-text;
            margin-top: 10px;
          }

          .card-bottom {
            @include justify-between;
            @include flex-wrap;

            .company-data {
              font-family: $text-font;
              padding-top: 10px;
              padding-right: 10px;
              @include flex-col;
              font-size: 12px;
              color: #92929e;
            }
          }
        }
      }
    }
  }
}
