// @import url("http://db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display");
@import url("http://fonts.cdnfonts.com/css/poppins");
// @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// $text-font: "SF Pro Display", sans-serif !default;
$text-font: "Poppins", sans-serif !default;

$blackColor: #101010 !default;
$blueColor: #268dec !default;

$shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;